@model FinancialSystem.Web.Models.RegisterViewModel
@{
    ViewData["BodyClass"] = "register-page";
    ViewData["Title"] = "Sign Up";
}
<head>
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true"/>
</head>
<body class="register-page">
    <div class="register">
        <h2>Registration</h2>
        <form class="form" asp-action="Register" method="post">
            <div class="textbox">
                <input asp-for="Email" type="email" placeholder=" "/>
                <span asp-validation-for="Email" class="field-validation-error"></span>
                <label asp-for="Email"></label>
            </div>

            <div class="textbox">
                <input asp-for="Password" type="password" placeholder=" "/>
                <span asp-validation-for="Password" class="field-validation-error"></span>
                <label asp-for="Password"></label>
            </div>

            <div class="textbox">
                <input asp-for="ConfirmPassword" type="password" placeholder=" "/>
                <span asp-validation-for="ConfirmPassword" class="field-validation-error"></span>
                <label asp-for="ConfirmPassword"></label>
            </div>

            <button type="submit">Sign up</button>
        </form>
        <p>
            Already have an account? <a>Sign in!</a>
        </p>
    </div>
</body>