@model FinancialSystem.Web.Models.Shared.LoanViewModel

<form id="newLoanForm" asp-action="CreateLoan" asp-controller="Client" method="post">
    <input type="hidden" id="BankId" name="BankId" value="@ViewBag.BankId"/>
    
    <div class="mb-3">
        <label asp-for="Amount" class="form-label">Loan Amount</label>
        <input asp-for="Amount" id="Amount_loan" type="number" class="form-control" required onchange="calculateTotalAmount()"/>
    </div>
    <div class="mb-3">
        <label asp-for="TermInMonths" class="form-label">Loan Term</label>
        <select asp-for="TermInMonths" id="TermInMonths_loan" class="form-select" onchange="toggleCustomLoanTerm(this)">
            <option value="3" selected>3 months</option>
            <option value="6">6 months</option>
            <option value="12">12 months</option>
            <option value="24">24 months</option>
            <option value="36">More than 24 months (custom)</option>
        </select>
    </div>
    
    <!-- Поле для ввода пользовательского срока -->
    <div class="mb-3" id="customTermDiv_loan" style="display:none;">
        <label for="CustomTerm_loan" class="form-label">Custom term (months)</label>
        <input type="number" class="form-control" id="CustomTerm_loan" name="CustomTerm_loan" min="25" onchange="calculateTotalAmount()" />
    </div>
    
    <div class="mb-3">
        <label asp-for="InterestRate" class="form-label">Interest rate (%)</label>
        <input asp-for="InterestRate" id="InterestRate_loan" type="number" step="0.01" class="form-control" readonly />
    </div>
    
    <!-- Выбор счета для зачисления средств -->
    <div class="mb-3">
        <label asp-for="DestinationAccountId" class="form-label">Destination Account for Loan Funds</label>
        <div class="d-flex">
            <select asp-for="DestinationAccountId" id="DestinationAccountId" class="form-select me-2">
                @foreach (var account in Model.UserAccounts)
                {
                    <option value="@account.Id">
                        Account #@account.Id - @account.AccountType 
                        (@account.Balance)
                    </option>
                }
            </select>
        </div>
    </div>
    
    <div class="mb-3">
        <label asp-for="TotalAmount" class="form-label">Total payment</label>
        <input asp-for="TotalAmount" id="TotalAmount_loan" type="number" class="form-control" readonly/>
    </div>
    
    <div class="mb-3">
        <label asp-for="MonthlyPayment" class="form-label">Monthly payment</label>
        <input asp-for="MonthlyPayment" id="MonthlyPayment_loan" type="number" class="form-control" readonly/>
    </div>

    <button type="submit" class="btn btn-primary">Create loan request</button>
</form>

<script>
    // Функция для переключения поля ввода пользовательского срока
    function toggleCustomLoanTerm(selectElement) {
        var customTermDiv = document.getElementById('customTermDiv_loan');
        var termInMonths = parseInt(selectElement.value);

        if (termInMonths > 24) {
            customTermDiv.style.display = 'block';
        } else {
            customTermDiv.style.display = 'none';
            calculateTotalAmount();
        }
    }
    
    function calculateTotalAmount() {
        const amount = parseFloat(document.getElementById('Amount_loan').value);
        let termInMonths = parseInt(document.getElementById('TermInMonths_loan').value);

        if (termInMonths > 24) {
            termInMonths = parseInt(document.getElementById('CustomTerm_loan').value);
        }

        if (!amount || !termInMonths) {
            document.getElementById('TotalAmount_loan').value = '';
            document.getElementById('InterestRate_loan').value = '';
            document.getElementById('MonthlyPayment_loan').value = '';
            return;
        }

        fetch('/Loan/CalculateTotalAmount', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ amount, termInMonths })
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('InterestRate_loan').value = data.interestRate.toFixed(2);
            document.getElementById('TotalAmount_loan').value = data.totalAmount.toFixed(2);
            document.getElementById('MonthlyPayment_loan').value = data.monthlyPayment;
        })
        .catch(error => console.error('Error:', error));
    }

    window.onload = function() {
        toggleCustomLoanTerm(document.getElementById('TermInMonths_loan'));
    };

</script>
